html, body, div, button {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue";
}

body {
  background-color: #EAEAEA;
}

button {
  background-color: #FFFFFF;
  border: 1px solid #C9C9C9;
  border-right: 0px solid #000;
  border-left: 0px solid #000;
  font-size: 1.5em;
  margin-top: 20px;
  width: 100%;
  height: 44px;
}